body {
	background: #0c1e38;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}

/* Link styling -----------------------------------------*/

a:link,
a:visited {
	color: #214f94;
	text-decoration: none;
}

a:hover {
	color: #00b5c8;
}

p a,
li a {
	/* links inside paragraphs <p> and list items <li> */
	border-bottom: 1px solid;
}

p a:hover,
li a:hover {
	border-bottom: 2px solid;
}

a.btn-info {
	/* any <a> link with class="btn-info" */
	color: #ffffff;
}

/* Page section styling -----------------------------------------*/

.s-lg-guide-body {
	/* The whole page */
}

.s-lib-side-borders {
	/* Just the way this is styled in LibGuides */
	padding-left: 20px;
	padding-right: 20px;
	background-color: #ffffff;
}

.s-lg-guide-header {
	/* Top portion of page, containing breadcrumbs, page title, description */
}

.s-lg-guide-main {
	/* Main portion of the page, containing boxes */
}

.s-lib-footer-public {
	/* Footer, containing Last Updated, etc */
}

/* Top tabs styling -----------------------------------------*/

.s-lg-tabs-container {
	/* Container containing tabs */
	background-color: #ffffff;
}

#s-lg-tabs-container .nav-tabs li a {
	/* Links inside tabs at top of page */
	font-weight: normal;
	border-radius: 3px;
}

#s-lg-tabs-container .nav-tabs li a.active {
	/* Tab of page you're on */
	font-weight: bold;
}

/* Page box styling -----------------------------------------*/

.s-lib-box {
	/* Box, eg Finding Statistics and its contents */
}

.s-lib-box-title {
	/* Box title, eg, Finding Statistics */
	font-size: 16px;
}

.s-lib-box-content {
	/* Box content */
}
